<div class="container">

    <div class="cabecalho">
        <h1 class="display-4">Avôhai!</h1>
    </div>
    <div class="jumbotron">
        <div class="mensagens">
            <div *ngFor="let conversa of chat" [class]="conversa.divClass">
                <p class="lead">{{conversa.conteudo}}</p>
            </div>
        </div>

        <hr class="my-4">

        <form [formGroup]="formulario" (ngSubmit)="enviarMensagem()">
            <div class="form-group">
                <textarea formControlName="mensagem" class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Digite algo."></textarea>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Enviar <fa-icon [icon]="faPaperPlane">
                    </fa-icon></button>
            </div>
        </form>

    </div>

    <footer>
        <div class="img">
            <a [href]="linkedinPerfil" target="_blank">
                <img [src]="linkedin" alt="linkedin" class="linkedin">
            </a>
            <a [href]="githubPerfil" target="_blank">
                <img [src]="github" alt="github" class="github">
            </a>
        </div>
    </footer>

</div>