<div class="container">
    <div class="cabecalho">
        <h1 class="display-4">Avôhai!</h1>
    </div>
    <div class="jumbotron">

        <div class="mensagens" style="overflow-y: scroll;
        resize: none;  height: 200px;   ">

            <div class="mensagemRecebida">
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                    attention
                    to
                    featured content or information.</p>
            </div>

            <div class="mensagemEnviada">
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                    attention
                    to
                    featured content or information.</p>
            </div>
            <div class="mensagemRecebida">
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                    attention
                    to
                    featured content or information.</p>
            </div>
            <div class="mensagemEnviada">
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                    attention
                    to
                    featured content or information.</p>
            </div>
            <div class="mensagemEnviada">
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                    attention
                    to
                    featured content or information.</p>
            </div>

        </div>

        <hr class="my-4">

        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Digite algo."></textarea>
        </div>

        <div class="d-flex justify-content-end">
            <p class="lead">

                <a class="btn btn-success btn-lg" (click)="teste()" role="button">Enviar <fa-icon [icon]="faPaperPlane">
                    </fa-icon>
                </a>
            </p>
        </div>
    </div>
    <footer>
        <div class="img">
            <a [href]="linkedinPerfil" target="_blank">
                <img [src]="linkedin" alt="linkedin" class="linkedin">
            </a>
            <a [href]="githubPerfil" target="_blank">
                <img [src]="github" alt="github" class="github">
            </a>
        </div>
    </footer>
</div>